.card-container {
  height: 200px;
  width: 140px;
  background-color: white;
  background-size: cover;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: -70px;
  font-size: 20px;
  text-align: center;
}

.card_selected{
  box-shadow: 0 0 10px 10px #2b271c;
}